* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
.header {
  background-color: salmon;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
nav {
  background-color: mediumspringgreen;
  padding: 1em;
}
nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: white;
}
